/* Main styling */
.Main {
    color: black;
    font-family: "Major Mono Display";
}

/* Section specific styling */
.section1 {
    position: relative;
    height: 80vh;
    width: 100%;
    background-image: url("../images/bg2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Individual styling */
.welcome {
    color: white;
    font-size: 8.5rem;
    position: absolute;
    right: 10%;
    top: 38vh;
    transform: translateX(0);
}

.h2Dividers {
    text-align: center;
    font-size: 5rem;
    padding: 15vh 0;
}

.pBase {
    font-family: "Fira Mono", monospace;
    font-size: 1.3rem;
    width: 40vw;
    text-align: center;
    margin: auto;
    padding-bottom: 15vh;
}

.p1 {
    padding-top: 13vh;
}

a {
    color: black;
}

a:hover {
    color: #aaa;
}

.form {
    color: black;
    text-decoration: underline;
}

/* Wave */
.custom-shape-divider-bottom-1721408716 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1721408716 svg {
    position: relative;
    display: block;
    width: calc(131% + 1.3px);
    height: 128px;
}

.custom-shape-divider-bottom-1721408716 .shape-fill {
    fill: #FFFFFF;
}